# Задание №1
Напишите генератор списка, который заполняет список данными, которые вводит пользователь. Количество вводнимых значений 5. Название переменной генератора: "gen_1" Другой генератор списка должен преобразовывать данные в числа. Если какой-либо элемент первого списка нельзя
преобразовать в число, то во второй список ("gen_2") этот элемент попадать не должен. <br>
Выведите на экран списки "gen_1" и "gen_2"

In [ ]:
# Код начинается здесь ...
gen_1 = [input() for _ in range(5)]
gen_2 = [int(i) for i in gen_1 if i.isnumeric()]

print(gen_1)
print(gen_2)

2
4
a
3
1
['2', '4', 'a', '3', '1']
[2, 4, 3, 1]

# Задание №2
Создайте с помощью генератора список и выведите его на экран <br>
```
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
```

In [ ]:
# Код начинается здесь ...
[i+1 for i in range(14)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
[i for i in range(1,15)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
list(range(1,15))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# Задание №3
У Вас имеется некий массив данных:
```
a = [2,-2,4,-4,7,5]
```
Вам необходимо с помощью генератора возвести в квадрат каждое значение.<br>
Результат запишите в переменную "b" и выведите на экран

In [ ]:
# Код начинается здесь ...
a = [2,-2,4,-4,7,5]

b1 = [i**2 for i in a]
b2 = [pow(i,2) for i in a]
b3 = [i*i for i in a]

print(b1)
print(b2)
print(b3)

[4, 4, 16, 16, 49, 25]
[4, 4, 16, 16, 49, 25]
[4, 4, 16, 16, 49, 25]

# Задание №4
У Вас имеется некая строка:
```
a_strange = "iу42eie1345 7"
```
Вам необходимо с помощью генератора извлечь все цифры<br>
В конец генератора можно добавлять конструкцию if для проверки на int()<br>
Результат запишите в переменную "b_normal" и выведите на экран

In [ ]:
# Код начинается здесь ...
a_strange = "iу42eie1345 7"

# for i in a_strange:
#   if i.isnumeric():
#     print(i)

b_normal = [i for i in a_strange if i.isnumeric()]
print(', '.join(b_normal))

4, 2, 1, 3, 4, 5, 7

In [ ]:
'-'.join(['1','2','3'])

'1-2-3'